<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form method="post" action="https://request-inspector.glitch.me/">
        <lable for="username">UserName</lable>
        <input id="username" name="username" type="text">
        <br>
        <input type="submit">
    </form>

    <form method="post" action="https://request-inspector.glitch.me/">
        <label name="useraddress">User Address</label>
        <input id="useraddress" name="useraddress" type="text">
        <br>
        <input type="submit">
    </form>

    <form method="post" action="https://request-inspector.glitch.me/">
        <lable name="phone">Phone</lable>
        <input id="phone" name="phone" type="number">
        <br>
        <input type="submit">
    </form>
    
    <form action="https://request-inspector.glitch.me" method="GET">
        <label for="zipcode">Zipcode</label>
        <input type="text" name="zipcode" id="zipcode" placeholder="input a zipcode">
        <br>
        <button type="submit">Submit the form</button>
    </form>
    <br>

    <form method="post" action="https://request-inspector.glitch.me">
        <label for="name" ></label>
        <input id="name" name="name" type="text" placeholder="enter name">
        <br>
        <button type="submit">Submit the form</button>
    </form>


</body>
</html>