<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form method="post" action="https://request-inspector.glitch.me/">
        <lable for="username">UserName</lable>
        <input id="username" name="username" type="text">
        <br>
        <input type="submit">
    </form>

    <form method="post" action="https://request-inspector.glitch.me/">
        <label name="useraddress">User Address</label>
        <input id="useraddress" name="useraddress" type="text">
        <br>
        <input type="submit">
    </form>

    <form method="post" action="https://request-inspector.glitch.me/">
        <lable name="phone">Phone</lable>
        <input id="phone" name="phone" type="number">
        <br>
        <input type="submit">
    </form>
    
    <form action="https://request-inspector.glitch.me" method="GET">
        <label for="zipcode">Zipcode</label>
        <input type="text" name="zipcode" id="zipcode" placeholder="input a zipcode">
        <br>
        <button type="submit">Submit the form</button>
    </form>
    <br>

    <form method="post" action="https://request-inspector.glitch.me">
        <label for="name" ></label>
        <input id="name" name="name" type="text" placeholder="enter name">
        <br>
        <button type="submit">Submit the form</button>
    </form>
    <br>
    <form method="post" action="https://request-inspector.glitch.me">
    <Label for="comments">Text Area</Label>
    
    <Textarea id="comments" name="comments" rows="4" cols="50">
        
    </Textarea>
    <br>
    <button type="submit">Submit</button>
    </form>
    <br>

<input name="newsletter" id="newsletter" type="radio">sign up for newsletter.
<br><br>

A <input type="radio" name="quiz_question_1" value="a"><br>
B <input type="radio" name="quiz_question_1" value="b"><br>
C <input type="radio" name="quiz_question_1" value="c"><br>
D <input type="radio" name="quiz_question_1" value="d"><br>
<br><br>

<p>
    Coffee types 
    <br>
<select name="coffee_preferences">
    <option value="light">Light Roast</option>
    <option value="dark">Dark Roast</option>
    <option value="expresso">Expresso</option>
</select>
</p>
<br>
<input type="hidden" name="user_id" value="432">
<br>
<form method="post" action="https://request-inspector.glitch.me/">
    <input name="the_answer" value="42">
    <input type="submit">
</form>
<br>
<input type="text" name="username" value="codeup" disabled>

<select name="newsletter_signup">
    <option disabled value="n">No</option>
    <option selected value="y">Yes</option>
</select>
<br>
<br>
<h2>What kind of phone do you own?</h2>
<br>
<label for="android">
    Android <input id="android" type="checkbox" name="phones" value="android">
</label>

<label for="ios">
    iOS <input id="ios" type="checkbox" name="phones" value="ios">
</label>

<label for="windows">
    Windows <input id="windows" type="checkbox" name="phones" value="windows">
</label>
<label for="other">
    Other <input id="other" type="checkbox" name="phones" value="other">
</label>

</body>
</html>